* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

.jobForm {
  padding: 1.5rem;
  position: relative;
  margin: 1rem -1rem;
  border-width: .2rem;
  border: solid #f7f7f0;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
